@primary-color: #333;
@secondary-color: #999;
@primary-background-color: #F2F2F2;
@secondary-background-color: #CCC;

body {
  background: @primary-background-color;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16pt;
  margin-left: 70px;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6, span {
  font-weight: 300;
  color: @primary-color;
}

h1 {
  font-size: 2em;
}

.btn-menu-toggle {
  display: inline-block;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  width: 2em;
  height: 2em;
  padding-top: 10px;
  text-align: center;
  background-color: @secondary-color;
  color:white;
}

ul.menu-list {
  float: left;
  position: fixed;
  top: 65px;
  left: 10px;
  padding: 0;
  margin: 0;
  color: white;
  background-color: @secondary-color;
  font-size: 18px;
  font-weight: 300;
  li {
    padding: 16px 40px 16px 20px;
    list-style: none;
    &:first-child {
      padding-top: 16px;
    }
    &:last-child {
      padding-bottom: 16px;
    }
    &:hover {
      background-color: @secondary-background-color;
      cursor: pointer;
      transition: background-color .2s;
    }
    &:active {
      background-color: @primary-color;
      transition: background-color .1s;
    }
    i {
      display: inline-block;
      width: 1em;
      text-align: center;
      margin-right: 10px;
    }
  }
}
